/* Always Design for Mobile First*/
* {
  margin: 0;
  box-sizing: border-box;
}

/* Center the card in the browser */
body {
}
main {
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (min-width: 768px) {
}
