@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* Always Design for Mobile First*/
* {
  margin: 0;
  box-sizing: border-box;
}

/* Center the card in the browser */
body {
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh; /* take up the entire vertical height of the user’s screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main */
main {
  flex: 1; /* take up the available space, and stay in the middle. So that the attributes are placed closer to the bottom edge */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Block */
.card {
  background: hsl(0, 0%, 100%);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  width: 100%;
  margin-bottom: 25px;
}

.card__heading {
  color: hsl(223, 47%, 23%);
  font-size: 24px;
  text-align: center;
  margin: 8px;
}

.card__text {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 8px;
}

/* Card Plan */
.card__plan {
}

.plan__plan-description {
}

.plan-description__image {
}

.plan-description__upper-text {
}

.plan-description__lower-text {
}

.plan__plan-change {
}

.plan-change__text {
}

/* Button */
.card__button {
}

.card__button--proceed {
}

.card__button--cancel {
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (min-width: 768px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}
